.App {
  text-align: center;
}

.App-home {
  text-align: center;
  margin-top: 50%;
  margin-left: 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 0 auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 999px;
  background-size: cover;
  background-position: center;
  background: url('https://www.dropbox.com/s/r7imoxdrochvt5a/19850879_1472361676144032_1126486230_o.jpg?dl=1');
  
}

